body{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrap{
    width: 300px;
    height: 452px;
    border: 1px solid black;
}
.xx{
    width: 298px;
    height: 50px;
    background: azure;
    border: 1px solid silver;
    display: flex;
    justify-content: space-between;
    align-items: revert;
}
.high{
    width: 300px;
    height: 150px;
    background: darkblue;
    display: flex;
    justify-content: space-evenly;
}
.low{
    width: 300px;
    height: 250px;
    background: azure;
}
.target{
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 655px;
    display: flex;
    justify-content: center;
}
.box{
    width: 50px;
    height: 50px;
    background: rebeccapurple;
    margin: 5px;
    border-radius: 5px;
}
.xxx{
    width: 40px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: darkblue;
    margin: 20px;
}
.xxxx{
    display: flex;
    justify-content: right;
    right: 10px;
}